body{
    background-color:#ecf1f5;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 10px;
}
.container{
    max-width: 500px;
    padding-top: 100px;
    color: white;
}
label{
    color: white;
}
input{
    width: 300px;
    height: 25px;
}
h2{
    color: white;
    padding-left: 0px;
    padding-right: 0px;
}
#sub{
  width: 200px;
  height: 80px;
  background-color: #d6a318;
  font-size: 1.5em;
  font-family: 'Nunito', sans-serif;
  border-radius: 20px;
}
.Usertable {
  border-collapse: collapse;
  position:absolute;
  width: 25%;
  top: 30%;
  right: 30px;
}
.Stattable {
  border-collapse: collapse;
  position:absolute;
  width: 25%;
  top: 15%;
  left: 30px;
}

.populartags {
  border-collapse: collapse;
  position:absolute;
  width: 10%;
  top: 50%;
  left: 30px;
}

.testtags {
  table-layout: fixed;
  border-collapse: separate;
  position:absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}

th, td {
  text-align: left;
  padding: 8px;
  width: 10px;
  max-height: 10px;
}
 
tr:nth-child(even){background-color: #f2f2f2}
 
th {
  background-color: #000000;
  color: rgb(241, 241, 241);
}


#bar{
  width: 45%;
  top: 20%;
  position: absolute;
  margin-top: -95px;
  left:0px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}


.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  position:absolute;
  width: 25%;
  top: 15%;
  left: 30%;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(41, 222, 235);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(238, 110, 110);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 250px 40px;
  border: 0px solid #ccc;
  width:30%;
  position: absolute;
  border-top: 10%;
  top: 20%;
  left: 30%;
}